/*	****************************************
	Demo styles (for demo purposes only)
	**************************************** */
p { margin-top: 0; }

.right {
	float: right;
	margin-left: 15px;
}

.frame {
	border: 1px solid #666;
	padding: 5px;
}

/*	****************************************
	Modules (reusable classes)
	**************************************** */
.container {
	margin: 0 auto;
	width: 95%;
	max-width: 960px; 
}

.content {
	text-align: left;
	overflow: auto;
}

.main-menu {
	background-color: #e0f0df;
}

#first {
	background:url("../images/forest.jpg");
    background-size: cover;
    width: 100%;
}

#title {
	text-align: center;
	line-height: 400px;
	color: #eed8ae;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-weight: bold;
	font-size: 60px;
	margin-bottom: -170px;
}

#blurb {
	text-align: center;
	color: #eed8ae;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#scroll-image {
	float: right;
	width: 175px;
	margin-top: 100px;
}

#secondtb{
	border: 0;
}

.secondpic{
	max-width: 200px;
	max-height: 200px;
	padding: 20px;
}

#third {
	background-color: #c3eec1;
}

.colophon {
	margin: auto;
    width: 75%;
}

.icon-photo {
	width: 175px;
	height: 175px;
	float: left;
	margin-right: 15px;
	padding: 15px;
}